<nav class="navbar navbar-default">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{cmpHeading}}</a>
      </div>
      <ul class="nav nav-tabs">
        <li routerlinkActive="active"> <a routerLink="/">Home</a> </li>
        <li routerlinkActive="active"> <a routerLink="/list">Shopping List</a> </li>
        <li routerlinkActive="active"> <a routerLink="/manage">Manage Components</a> </li>
        <li routerlinkActive="active"> <a routerLink="/offers">Offers</a> </li>
      </ul>
    </nav>