<h3>Product Information</h3><hr>
    <table *ngIf="dtProduct" class="well table table-bordered" style="width: 40%" >
      <tr> <th>Id</th> <td>{{dtProduct.id}}</td> </tr>
      <tr> <th>Name</th> <td>{{dtProduct.pname}}</td> </tr>
      <tr> <th>Price</th> <td>{{dtProduct.price}}</td> </tr>
      <tr> <th>Description</th> <td>{{dtProduct.description}}</td> </tr>
    </table>
    <div *ngIf="!dtProduct">
      {{statusMsg}}
    </div> 
    <button class="btn btn-primary btn-sm" (click)="goBack()">Goto Products list</button>